<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<title>Ontology</title>
	<script src="{% static "scripts/jquery.min.js"%}"></script>
	<script src="{% static "jqTree/tree.jquery.js"%}"></script>
	<script type="text/javascript">
		$.getJSON(
	    '/pubbrain_app/json?query=' + '{{ searchObject.query }}',
	    function(data) {
	        $('#tree1').tree({
	            data: data
	        });
	    }
		);
	</script>
	<link rel="stylesheet" href="{% static "jqTree/jqtree.css"%}"></script>
</head>
<body>
	<div id="tree1"></div>
</body>
